[submodule "upstream/RSTiledata"]
	path = upstream/RSTiledata
	url = https://github.com/ReclaimSoftware/RSTiledata.git
[submodule "upstream/RSVarint"]
	path = upstream/RSVarint
	url = https://github.com/ReclaimSoftware/RSVarint
